@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font: inherit;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul,
a{
  list-style: none;
  text-decoration: none;
  color: inherit;
}

ul{
  padding: 0;
}

fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}

/* 로그인 content */
.content{
  width: 15.25rem;
  height: 10.0625rem;
  margin: 20px;
  padding: 12px;
  background: linear-gradient(90deg, #ED552F 0%, #E8852E 100%);
  box-shadow: 5px 5px 0px #AAAAAA;
  border-radius: 5px;
}

/* 로그인 헤더 */
.header{
  font-size: 0.9375rem;
  color: #FFFF00;
  margin-bottom: 8px;
}

/* 로그인 폼 요소 */
.login-form{
  position: relative;
  width: 13.75rem;
  height: 6.625rem;
  border-radius: 5px;
  background-color: white;
  padding-top: 8px;
}

.label_id,
.label_pw{
  display: inline-block;
  width: 56px;
  height: 21px;
  font-size: 0.875rem;
  user-select: none;
  margin-left: 4px;
}

.input_id{
  margin-bottom: 4px;
}

.input_id,
.input_pw{
  width: 5.625rem;
  height: 1.5rem;
  border-radius: 5px;
  padding: 0 0 0 8px;
  margin-right: 8px;
  border: 1px solid gray;
}

/* 로그인 버튼 */

.loginbtn{
  cursor: pointer;
  width: 3.125rem;
  height: 3.3125rem;
  background-color: #ED552F;
  color: white;
  font-size: 0.8125rem;
  border-radius: 5px;
  padding: 4px;
  align-items: center;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

/* 가입 및 찾기 영역 */
.find-wrap li a{
  font-size: 0.8125rem;
  }
  
  .find-wrap::after{
    padding: 0;
    content: "";
    display: block;
    clear: left;  
}

.find-list{
  width: 209px;
  margin-top: 8px;
  margin-left: 5px;
  border-top: 1px solid gray;
}

.find-list li{
  margin-top: 8px;
}

.join{
  float: left;
  padding: 0 15px 0 11px;
}

a:hover{
  text-decoration: underline;
}


